#!/usr/bin/env ruby

# compile SASS as CSS content
[:default, :sourcemap].each do |rep_name|
  compile '/**/*.{sass,scss}', rep: rep_name do
    syntax = @item.identifier.ext.to_sym
    path = @item.identifier.without_ext + '.css'
    options = { syntax: syntax, style: :compressed, css_path: path, sourcemap_path: path + '.map' }

    case rep_name
    when :default
      filter :sass, options
      write path
    when :sourcemap
      filter :sass_sourcemap, options
      write path + '.map'
    end
  end
end

# compile HTML as raw content added to the default layout
compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

# compile markdown with kramdown
compile '/**/*.md' do
  # GIT processors
  filter :section
  filter :quickLinks
  filter :externalInlineLink
  filter :externalLink
  filter :internalLink

  # standard markdown processor
  filter :kramdown
  layout '/default.html.erb'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

# compile sitemap.erb and put the compiled content under sitemap.xml in root
compile '/sitemap.erb' do
  filter :erb
  write item.identifier.without_ext.to_s + '.xml'
end

# compile everything else as raw content copied to the output folder
compile '/**/*' do
  write item.identifier.to_s
end

# use erb as the layout template language
layout '/**/*', :erb
